<h1>Listing lalas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lalas.each do |lala| %>
  <tr>
    <td><%= link_to 'Show', lala %></td>
    <td><%= link_to 'Edit', edit_lala_path(lala) %></td>
    <td><%= link_to 'Destroy', lala, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lala', new_lala_path %>
