<table style="width: 100%;">
  <tr>
    <td style="background-color: #343434; height: 45px; line-height: 45px; padding: 0 20px; border-top: 1px solid #414141; border-bottom: 1px solid #000;">
      <a href="<%= root_url %>"><img alt="TripBudget" src="<%= root_url %>/assets/trip_budget.png" /></a>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #cecece; font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding: 10px 20px 20px 20px;">
      <p>Hi,</p>
      <p style="margin-bottom: 30px;"><%= @inviter.name %> has invited you to collaborate on your trip budget planning.</p>
      <a href="<%= invitation_url(@invitee.invitation_url) %>" style="background-color: #07c573; border: 1px solid #00a35d; border-radius: 4px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px; color: white; cursor: pointer; font-size: 14px; height: 20px; line-height: 20px; padding: 10px 20px; text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px; text-decoration: none;">Join the trip</a>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #cecece; font-family: Helvetica, Arial, sans-serif; font-size: 12px; padding: 10px 20px 20px 20px; color: #666">
      <p>TripBudget allows yout to enter several destinations for your trips and estimate your expenses on each one of them. Share the trip with your travel companions and get the most out of your money. We do the maths for you!</p>
    </td>
  </tr>
</table>
