<% if object && object.errors.size > 0 %>
  <div class="alert alert-error">
    <p>Please check on the following fields.</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
