<h1>Trip Budget Planner</h1>
<p>Enter the locations and estimates of the expenses. Share with your travel group and get the most out of your money. We do the maths for you.</p>

<%= link_to 'Create a trip', new_trip_path, class: 'btn primary-btn' %>
