/*
 *= require_self
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import "bourbon";
@import "bootstrap_and_overrides";
@import "home";
@import "trips";
@import "destinations";
@import "datepicker";
@import "bootstrap-editable";

.main-wrapper {
  min-height: 700px;
  margin-bottom: 20px;
}

/* Header */
.navbar {
  border-bottom: 1px solid #ccc;

  .brand {
    padding-left: 3px;
  }
  .authentication img {
    width: 20px;
    border: 1px solid #cecece;
  }
}

/* Headings */
.main-heading,
.secondary-heading,
.tertiary-heading {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0 2px 1px #fff;
}
.main-heading {
  font-size: 2.8em;
  color: #333;
  margin: 0 0 1em 0;
}
.secondary-heading {
  font-size: 2em;
  color: #999;
  font-weight: 300;
}
.tertiary-heading {
  font-size: 1.3em;
  color: #444;
}

/* Forms */
.form-horizontal {
  label {
    color: #636363;
  }
  input[type=text],
  textarea,
  select {
    width: 100%;
    @include box-sizing(border-box);
  }
  input[type=text] {
    height: 2em;
    padding: 6px;
  }
  .help-block {
    color: #888;
    font-size: 0.9em;
    font-style: italic;
  }
  .form-actions {
    background: none;
    border: 0;
    .secondary-action {
      color: #888;
      margin-left: 20px;
    }
  }
}

/* Alerts */
.alert a {
  color: inherit;
  text-decoration: underline;
  &.close {
    text-decoration: none;
  }
}

/* Footer */
.footer {
  background-color: #333333;
  border-top: 1px solid #4d4d4d;
  color: #868585;
  padding: 2em 0;
  line-height: 60px;
  a {
    color: #acacac;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  a.rails-rumble {
    float: left;
    margin-right: 2em;
  }
  p {
    float: left;
  }
  .share-it, iframe {
    float: right;
    height: 40px;
    width: 100px;
    margin-left: 20px;
  }
}

/* Public trip tables */
.trips-table {
  img {
    width: 30px;
    margin-right: 3px;
    @include border-radius(5px);
  }
}

/* Media Queries */
@media screen and (min-width: 600px) {
  body {
    background: transparent url(/assets/bg.jpg) top left no-repeat;
  }
  .main-wrapper {
    background-color: #fefefe;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #cecece;
    @include box-shadow(0 3px 5px rgba(0,0,0,0.3));
  }
  .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    background: none;
  }
}





