body.destinations.edit,
body.trips.show {
  .main-wrapper {
    position: relative;
  }
  form {
    margin: 0;
  }

  // Inline edits
  .editable {
    display: inline;
    padding-right: 25px;
    background: transparent url(/assets/icons/edit.png) right 16px no-repeat; //16px
    &:hover {
      background-color: #fff5ca;
      background-position: right -26px;
      @include border-radius(5px);
      cursor: pointer;
    }
  }

  // Headings
  .main-heading {
    margin-bottom: 0;
    line-height: 1.5em;
    background-position: right 20px;
    &:hover {
      background-position: right -22px;
    }
  }
  .secondary-heading {
    margin-bottom: 1em;
  }
  .tertiary-heading {
    margin-bottom: 0;
  }

  // Travellers
  #travellers-list {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    li {
      list-style: none;
      float: left;
      margin-right: 10px;
      img {
        width: 40px;
        @include border-radius(5px);
      }
    }
  }

  // Add and remove
  .remove {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: transparent url(/assets/icons/delete.png) left 7px no-repeat;
    span {
      display: none;
    }
    &:hover {
      background-position: left -35px;
    }
  }

  .add {
    line-height: 1em;
    display: block;
    padding-left: 15px;
    background: transparent url(/assets/icons/add.png) left 2px no-repeat;
    &:hover {
      background-position: left -39px;
    }
    &.add-alternative {
      margin-left: 20px;
    }
  }

  // Expenses
  .expense {
    position: relative;
    .editable {
      display: block;
      margin-right: 30px;
    }
    .remove-expense {
      position: absolute;
      top: 9px;
      right: -11px;
    }
  }

  // Alternatives
  .alternatives {
    margin: 0;
    li {
      list-style: none;
    }
  }
  .alternatives-wrapper {
    border: 1px solid #cfcfcf;
    padding: 20px;
    @include border-radius(5px);

    .form-inline {
      margin-bottom: 0.5em;
    }

    .is_checked,
    .provider,
    .cost-input,
    .per_group,
    .per_stay,
    .link-url input {
      margin-right: 0.5em;
    }

    .is_checked {
      float: left;
      margin-top: 2px;
    }
    .cost {
      line-height: 30px;
      margin-right: 1em;
    }
    .provider,
    .input-prepend,
    .btn-group {
      vertical-align: top;
    }
    .btn-group > .btn {
      padding: 0 2px;
    }
    .btn-group + .btn-group {
      margin-left: 0;
    }
    .icon {
      background: transparent url(/assets/icons/sprite.png) top left no-repeat;
      width: 30px;
      height: 23px;
      display: inline-block;
    }
    .per_person .icon {background-position: 8px 6px;}
    .per_group .icon {background-position: -16px 6px;}
    .per_day .icon {background-position: -42px 6px;}
    .per_stay .icon {background-position: -66px 6px;}
    .per_person .icon:hover {background-position: 8px -28px;}
    .per_group .icon:hover {background-position: -16px -28px;}
    .per_day .icon:hover {background-position: -42px -28px;}
    .per_stay .icon:hover {background-position: -66px -28px;}

    .link-url .icon {
      width: 17px;
      background: transparent url(/assets/icons/url.png) left 2px no-repeat;
    }

    .action {
      line-height: 30px;
      height: 30px;
      margin-right: 1em;
      color: #777;
      text-decoration: underline;
      &.add-alternative {
        margin-left: 20px;
      }
      &:hover {
        color: #333;
      }
    }
  }

  // Comments
  .comment-list {
    margin: 20px 0 0 0;
    li {
      list-style: none;
      line-height: 30px;
      color: #777;
    }
  }
  .comment {
    margin-left: 18px;
    position: relative;
    padding-left: 45px;
    border-top: 1px solid #f0f0f0;
    p {
      margin-bottom: 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      @include border-radius(5px);
    }
    &.add-comment {
      padding-top: 20px;
      input {
        width: 91.2%;
      }
      img {
        top: 20px;
      }
    }
  }

  // Totals
  .totals {
    padding: 1em 0;
    height: 40px;
    h1 {
      float: right;
      display: inline;
      min-width: 300px;
      margin: 0;
      text-align: right;
      padding-right: 20px;
      font-weight: 600;
    }
    #add-expense {
      float: left;
      margin-top: 5px;
      color: #777;
      text-decoration: underline;
      &:hover {
        color: #333;
      }
    }
  }

  // Actions
  .destination-actions {
    display: block;
    clear: both;
    color: #777;
    height: 40px;
    .next {
      float: right;
    }
  }
}
