body.trips.form {
  textarea {
    height: 100px;
  }
  .radio_buttons label.radio {
    width: auto;
    display: inline-block;
    margin-right: 20px;
  }
  #destinations-container {
    margin-left: 0;
    li {
      list-style: none;
    }
    .name {
      width: 300px;
    }
    .datepicker {
      width: 100px;
    }
  }
}
body.trips.show {
  .alternatives {
    .cost {
      width: 6%;
      display: inline-block;
    }
    .provider {
      width: 20%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 30px;
    }
    .inactive {
      opacity: 0.6;
    }
    .link-url a {
      width: 496px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
    }
  }
}
body.trips.summary {
  .main-wrapper {
    position: relative;
  }
  // Travellers
  #travellers-list {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    li {
      list-style: none;
      float: left;
      margin-right: 10px;
      img {
        width: 40px;
        @include border-radius(5px);
      }
    }
  }

  .graphs .row-fluid div {
    min-height: 500px;

  }
}
