body.trips.new {
  textarea {
    height: 100px;
  }
  .radio_buttons label.radio {
    width: auto;
    display: inline-block;
    margin-right: 20px;
  }
  #destinations-container {
    margin-left: 0;
    li {
      list-style: none;
    }
    .name {
      width: 300px;
    }
    .date {
      width: 100px;
    }
  }
}
